/*=====	Background Color =====*/
.thm-btn,
.thm-bg-clr,
#topcontrol:hover,
.socl-sh1 > a:hover,
.thm-btn2,
.prog-wrp .progress-bar,
.tgl-itm > h5.active,
.wdgt-tl:before,
.socl-sh2 > a:hover,
.pln-bx2 > a,
.fre-qt:before,
.thm-btn3:hover,
.wdgt-tl2:before,
.lt-psts > a:hover,
.tagclouds > a:hover,
.pagination > ul > li a:hover,
.prj-btns a:hover,
form.lon-frm button:hover,
.thm-btn4,
.tgl2 .tgl-itm > h5 i,
.gl-btns > span > a,
.gl-btns > a:hover,
.gl-btns2 > span > a,
.gl-btns2 > a:hover,
.cases-tabs .nav-link.active,
.cases-tabs .nav-link:hover,
.er-inr > a,
.cnt-wrp > form button,
.rltd-prd .prd-thmb::before,
.menu ul ul li:hover > a,
.crt-btns > a:hover,
.cont-inf::before,
.purchase-btn > a,
.purchase-btn:before,
.rspn-mnu-btn:hover,
.rspn-scil > li a:hover,
.rspn-mnu-cls:hover,
.rsnp-mnu ul li.menu-item-has-children::before
{
    background-color:#3cb879;	
}

/*=====	Font Color =====*/
.thm-btn:hover,
.menu > ul > li:hover > a,
.menu > ul > li > a:focus,
.thm-clr,
.serv-inf > h4 a:hover,
.serv-inf > h4 a:focus,
.thm-btn2:hover,
.cmp-inf > h2 a:hover,
.cmp-inf > h2 a:focus,
.nd-lst > li a:hover,
.nd-lst > li a:focus,
.tm-inf > h4 a:hover,
.tm-inf > h4 a:focus,
.pst-inf > h4 a:hover,
.pst-inf > h4 a:focus,
.pst-mta > li a:hover,
.pst-mta > li a:focus,
.pst-inf1 > h5 a:hover,
.pst-inf1 > h5 a:focus,
.btm-ln p a:hover,
.btm-ln p a:focus,
.proj-lnks > ul li a:hover,
.proj-lnks > ul li a:focus,
.rcnt-std-itm > h4 a:hover,
.rcnt-std-itm > h4 a:focus,
.lt-blg-pst > h3 a:hover,
.lt-blg-pst > h3 a:focus,
.lt-blg-pst > h2 a:hover,
.lt-blg-pst > h2 a:focus,
.pnb-bdy2 > a,
.pnb-bdy2 > a:focus,
.pst-tgs > a:hover,
.pst-tgs > a:focus,
.pst-scl > a:hover,
.pst-scl > a:focus,
.lk-cmt > a:hover,
.lk-cmt > a:focus,
.fre-qt > a:hover,
.fre-qt > a:focus,
.thm-btn3,
.thm-btn3:focus,
.wdgt ul li:hover > a
.wdgt ul li a:focus,
.srch-frm > button:hover,
.lst-pst-inf > h4 a:hover,
.lst-pst-inf > h4 a:focus,
.lt-psts > a:focus,
.pagination > ul > li span,
.prj-bx-inf > h4 a:hover,
.prj-bx-inf > h4 a:focus,
.prj-bx-inf > span a:hover,
.prj-bx-inf > span a:focus,
.lcbk-dtl > h1 a:hover,
.lcbk-dtl > h1 a:focus,
.vd-bx > i,
.vdo-sc > a:hover,
.vdo-sc > a:focus,
.socl-sh3 > a:hover,
.socl-sh3 > a:focus,
.contact-info2 > li a:hover,
.contact-info2 > li a:focus,
header.style2 .menu > ul > li.menu-item-has-children:hover:before,
.sury-desc > h2 span,
.ldr-pst-inf > h4 a:hover,
.ldr-pst-inf > h4 a:focus,
.pst-cat > a:hover,
.pst-cat > a:focus,
.cmp-inf2 > h2 > i,
.cmp-inf2 > h2 > span,
.prj-bx-inf2 > h5 a:hover,
.prj-bx-inf2 > h5 a:focus,
.prj-btns2 a:hover,
.prj-btns2 a:focus,
.option-set > li a:hover,
.option-set > li a:hover i,
.option-set > li a.selected,
.option-set > li a.selected i,
.option-set > li a:focus,
.cnslt-inf > h4 a:hover,
.cnslt-inf > h4 a:focus,
.breadcrumbs > li a:hover,
.breadcrumbs > li a:focus,
.gal-inf > h5 a:hover,
.gal-inf > h5 a:focus,
.gl-btns > span > a:hover,
.gl-btns > a,
.gl-cat > a:hover,
.gl-cat > a:focus,
.gal-inf2 h4 a:hover,
.gal-inf2 h4 a:focus,
.gal-inf3 h4 a:hover,
.gal-inf3 h4 a:focus,
.prd-thmb > a:hover,
.prd-thmb > a:focus,
.prd-inf > h4 a:hover,
.prd-inf > h4 a:focus,
.cas-inf > h4 a:hover,
.cas-inf > h4 a:focus,
.cas-bx .lk-cmt > a:hover,
.cas-bx .lk-cmt > a:focus,
.cases-tabs .nav-link:focus,
.sch-frm > button:hover,
.er-inr > a:hover,
.lt-blg-pst > h4 a:hover,
.lt-blg-pst > h4 a:focus,
.cnt-wrp > form button:hover,
.cas-inf2 > h3 a:hover,
.cas-inf2 > h3 a:focus,
.rlt-bx h4 a:hover,
.rlt-bx h4 a:focus,
.pst-mta3 .lk-cmt > a:hover,
.pst-mta2 .lk-cmt > a:hover,
.comment-reply-link:hover,
.comment-reply-link:focus,
.nxt-prv-pst > div > a:hover,
.nxt-prv-pst > div > a:focus,
.admn-inf > h5 a:hover,
.admn-inf > h5 a:focus,
.admn-inf > a:hover,
.admn-inf > a:focus,
.rlt-pst-itm > h4 a:hover,
.rlt-pst-itm > h4 a:focus,
.cmt-bx-inf > h5 a:hover,
.cmt-bx-inf > h5 a:focus,
.menu ul ul li > a:focus,
.mga-lnks > a:hover,
.mga-lnks > a:focus,
.crt-prd-inf > h5 a:hover,
.crt-prd-inf > h5 a:focus,
.prd-rmv:hover,
.prd-rmv:focus,
.hdr-sd-pnl-btm > p a:hover,
.hdr-sd-pnl-btm > p a:focus,
.menu-btns > li a:hover,
.menu-btns > li a:focus,
.chk ~ a:hover,
.chk ~ a:focus,
header.trans.sticky nav .menu > ul > li:hover > a,
header.trans.sticky nav .menu > ul > li > a:focus,
.hdr-sd-cls:hover,
.countdown li p,
.cmg-btm > p a:hover,
.cmg-btm > p a:focus,
.srch-cls:hover,
.hdr-srch > form button:hover,
.rsnp-mnu ul > li > a:focus,
.rsnp-mnu ul > li:hover > a,
.rsnp-mnu ul > li.active > a,
.rspn-srch > button:hover,
header.style1.trans.sticky nav ul.menu-btns > li a:hover
{
    color:#3cb879;	
}

/*=====	Border Color =====*/
.thm-btn,
.thm-br-clr,
.thm-btn2,
.thm-btn3,
.tagclouds > a:hover,
.pagination > ul > li a:hover,
.pagination > ul > li span,
.vdo-sc > a:hover,
.vdo-sc > a:focus,
.gl-btns a,
.er-inr > a,
.cnt-wrp > form button
{
    border-color:#3cb879;	
}

/*===== Border Top Color =====*/

{
    border-top-color: #3cb879;
}

/*===== Border Right Color =====*/

{
    border-right-color: #3cb879;
}

/*===== Border Bottom Color =====*/
.menu > ul > li.menu-item-has-children::after
{
    border-bottom-color: #3cb879;
}

/*===== Border Left Color =====*/

{
    border-left-color: #3cb879;
}